{% extends "AcmeDemoBundle::layout.html.twig" %}
 
{% block title "my Media" %}
 
{% block content %}
    <p> small
        {% thumbnail media, 'small' %}
    </p>
    <p> small low quality
        {% thumbnail media, 'smallbad' %}
    </p>
    <p> big
        {% thumbnail media, 'big' %}
    </p>
    <p> big low quality
        {% thumbnail media, 'bigbad' %}
    </p>
{% endblock %}
